<form class="w-full max-w-md">
    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
        Nome
    </label>
    <input
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
        ng-model="tipoDeVeiculo.nome" type="text"
        placeholder="{{$ctrl.hasAndIsValideEntity() ? $ctrl.entity.nome : 'Digite o nome'}}" required>
    <div class="flex m-4 content-between">
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full"
            ng-click="$ctrl.salvar(tipoDeVeiculo)">
            {{ $ctrl.hasAndIsValideEntity() ? 'Salvar' : 'Cadastrar' }}
        </button>
        <button type="button" class="bg-blue hover:bg-blue-dark text-white font-bold ml-4 py-2 px-4 rounded-full"
            ng-click="$ctrl.cancelar()">
            Voltar
        </button>
    </div>
</form>