<!-- Graphics -->
<div class="flex flex-wrap justify-center" ng-controller="GraphCtrl">
    <div class="w-3/5 m-4 rounded overflow-hidden shadow-lg">
        <div class="container m-4 text-left">
            <div class="font-bold text-base">Percentual de Minerio por mês</div>
        </div>
        <canvas class="chart chart-radar" chart-data="data" chart-labels="labels" chart-series="series"
            chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
    </div>
</div>